<section class="alt" id="insurances">
  <div class="container">
    <div class="section-head">
      <h2>Aseguradoras</h2>
      <p class="byline">Trabajamos con las mejores aseguradoras del país y de mejor solvencia y seriedad</p>
    </div>

    <div class="span12 offset">
      <div class="row spacing">
        <div class="span3 centered">
          <img src="assets/img/caracas.gif" class="img-polaroid insurance">
          <!-- <p>Seguros Caracas de Liberty Mutual</p> -->
        </div>
        <div class="span3 centered">
          <img src="assets/img/mercantil.gif" class="img-polaroid insurance">
          <!-- <p>C. A. de Seguros American International</p> -->
        </div>
        <div class="span3 centered">
          <img src="assets/img/mapfre.gif" class="img-polaroid insurance">
          <!-- <p>Mapfre La Seguridad C. A.</p> -->
        </div>
        <div class="span3 centered">
          <img src="assets/img/multinacional.gif" class="img-polaroid insurance">
          <!-- <p>Multinacional de Seguros C. A.</p> -->
        </div>
      </div>
      <div class="row spacing">
        <div class="span3 centered">
          <img src="assets/img/american.gif" class="img-polaroid insurance">
          <!-- <p>Mercantil Seguros C. A.</p> -->
        </div>
        <div class="span3 centered">
          <img src="assets/img/star.gif" class="img-polaroid insurance">
          <!-- <p>Estar Seguros C. A.</p> -->
        </div>
        <div class="span3 centered">
          <img src="assets/img/venezolana.gif" class="img-polaroid insurance">
        <!-- <p>La Venezolana de Seguros y Vida C. A.</p> -->
        </div>
        <div class="span3 centered">
          <img src="assets/img/altamira.gif" class="img-polaroid insurance">
        <!-- <p>Seguros Altamira C. A.</p> -->
        </div>
      </div>
    </div>

  </div>

</section>
