<section class="alt" id="insurances">
  <div class="container">
    <div class="section-head">
      <h2>Aseguradoras</h2>
      <p class="byline">Trabajamos con las mejores aseguradoras del país y de mejor solvencia y seriedad</p>
    </div>

    <div class="span10 offset2">
      <div class="row spacing">
        <div class="span4">
          <i class="icon-ok pull-left"></i>
          <p>Seguros Caracas de Liberty Mutual</p>
        </div>
        <div class="span4">
          <i class="icon-ok pull-left"></i>
          <p>C. A. de Seguros American International</p>
        </div>
        <div class="span4">
          <i class="icon-ok pull-left"></i>
          <p>Mapfre La Seguridad C. A.</p>
        </div>
        <div class="span4">
          <i class="icon-ok pull-left"></i>
          <p>Multinacional de Seguros C. A.</p>
        </div>
      </div>

      <div class="row spacing">
        <div class="span4">
          <i class="icon-ok pull-left"></i>
          <p>Mercantil Seguros C. A.</p>
        </div>
        <div class="span4">
          <i class="icon-ok pull-left"></i>
          <p>Estar Seguros C. A.</p>
        </div>
        <div class="span4">
          <i class="icon-ok pull-left"></i>
        <p>La Venezolana de Seguros y Vida C. A.</p>
        </div>
        <div class="span4">
          <i class="icon-ok pull-left"></i>
        <p>Seguros Altamira C. A.</p>
        </div>
      </div>
    </div>

  </div>

</section>
