<section id="contact">
  <div class="container">
    <div class="section-head">
      <h2>Contacto</h2>
    </div>
    <div class="span10 offset2">

      <div class="row spacing">
        <div class="span3">
        <h4>Dirección :</h4>
        <p>Calle Los Cerritos<br/>
         Edf. Excelsior piso 1 # 5.<br/> Chacaito.<br/>
         Caracas, Venezuela</p>
      </div>
      <div class="span3">
        <h4>Teléfonos:</h4>
        <p>04142708982
          <br/>
          02129517746
          <br/>
          02129522677</p>
        </ul>
      </div>

      <div class="span3">
        <h4>Email:</h4>
         <p>
          <a href="mailto:jamillan@cantv.net">jamillan@cantv.net</a><br/>
          <a href="mailto:alejandro.millan51051@gmail.com">alejandro.millan51051@gmail.com</a></p>
      </div>
   </div>
</section>
<section class="alt map-container">
   <div id='map_canvas'></div>
</section>





      