<section class="alt">
  <div class="container">
    <div class="span10 offset1 ">
      <div class="row spacing">
        <div class="span2">
          <img src="/assets/img/IMG_0292.png" class="img-circle">
        </div>
        <div class="span3">
          <h4>Subheading</h4>
          <p>Existen maneras efectivas de proteger sus activos y la salud de la familia frente a gastos que su bolsillo no pueda afrontar. Transfiera estas responsabilidades a una aseguradora y esté más tranquilo en el futuro.</p>
        </div>
        <div class="span2">
          <img src="/assets/img/IMG_0292.png" class="img-circle">
        </div>
        <div class="span3">
          <h4>Subheading</h4>
          <p>Proteja con coberturas adecuadas sus gastos médicos de la inflación y de la devaluación de nuestra moneda. No deje que la suma asegurada de su poliza se derrita</p>
        </div>
      </div>

      <div class="row spacing">
        <div class="span2">
          <img src="/assets/img/IMG_0292.png" class="img-circle">
        </div>
        <div class="span3">
          <h4>Subheading</h4>
          <p>Brindamos soluciones profesionales ajustadas a las caracteristicas específicas de cada riesgo confeccionando la cobertura necesaria.</p>
        </div>
        <div class="span2">
          <img src="/assets/img/IMG_0292.png" class="img-circle">
        </div>
        <div class="span3">
          <h4>Subheading</h4>
          <p>No olvide, el seguro está hecho para asumir las pérdidas que su bolsillo no pueda soportar; deje que las aseguradoras lo hagan por usted</p>
        </div>
      </div>
    </div>
  </div>
</section>