<section id="services">

  <div class="container">
    <div class="section-head">
      <h2>Servicios</h2>
    </div>

    <div class="span10 offset1 iconed">

      <div class="row spacing">
        <div class="span2">
          <i class="icon-large icon-user"></i>
          <p>
           Asesoría en la confección de la cobertura necesaria para la protección de personas; activos y responsabilidades
          </p>
        </div>
        <div class="span2">
          <i class="icon-large icon-hand-up"></i>
          <p>
            Análisis comparativo de las coberturas solicitadas, respaldadas por aseguradoras de primera línea
          </p>
        </div>
        <div class="span2">
          <i class="icon-large icon-retweet"></i>
          <p>
            Beneficios v/s Costos v/s Solvencia de aseguradoras
          </p>
        </div>
        <div class="span2">
          <i class="icon-large icon-pencil"></i>
          <p>
            Emisión de los contratos de seguro, según las condiciones acordadas
          </p>
        </div>
        <div class="span2">
          <i class="icon-large icon-ok"></i>
          <p>
            Administración y asesoría en el manejo de las reclamaciones desde su inicio hasta la inmdemnización
          </p>
        </div>
      </div>
    </div>
  </div>
</section>